:root {
  --primary-color: #30c9e8;
  --secondary-color: #3b4a4d;
  --tertiary-color: #f7f8fa;
  --accent-color: #ff4431;
  --heading-font-family: "Playfair Display", serif;
  --regular-font-family: "Raleway", sans-serif;
  --background-image: var(--bs-gradient);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--regular-font-family);
  color: var(--accent-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: #000;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  color: var(--secondary-color);
}

.hero {
  background-color: var(--primary-color);
  padding: 120px 20px 40px;
}

.project-link,
.launch-link {
  color: #fff;
  background: var(--accent-color);
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  background-image: var(--background-image);
}

.project-link,
.launch-link {
  font-size: 24px;
}
.launch-link {
  position: relative;
  top: 50px;
}

.wrapper {
  text-align: center;
}

.box {
  height: 620px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
}

.box img {
  width: 500px;
  height: 360px;
  border-radius: 10px;
  margin: 40px 50px 10px;
  box-shadow: var(--box-shadow);
}

.box p {
  line-height: 30px;
  margin: 0 50px;
  font-size: 18px;
}

.launch-link {
  position: relative;
}

h2,
p {
  color: var(--secondary-color);
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

p {
  font-size: 16px;
}
