:root {
  --primary-color: #30c9e8;
  --secondary-color: #3b4a4d;
  --tertiary-color: #f7f8fa;
  --accent-color: #ff4431;
  --heading-font-family: "Playfair Display", serif;
  --regular-font-family: "Raleway", sans-serif;
  --background-image: var(--bs-gradient);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--regular-font-family);
  background-color: var(--tertiary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: #000;
}

h2,
p {
  color: var(--secondary-color);
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

p {
  font-size: 16px;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  color: var(--secondary-color);
}

.hero {
  background-color: var(--primary-color);
  padding: 120px 20px 40px;
}

.heroine {
  background-color: var(--primary-color);
  padding: 60px auto;
}

.top-offset {
  margin-top: -30px;
}

.project-link,
.launch-link {
  color: #fff;
  background: var(--accent-color);
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  background-image: var(--background-image);
  font-size: 24px;
}

.card-content {
  border: 1px solid #fff;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.card-content img {
  margin: 30px auto;
}

.card-details {
  line-height: 30px;
  margin: 0 50px;
  font-size: 18px;
}

.back-to-top {
  color: var(--secondary-color);
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-decoration: none;
}

.back-to-top:hover {
  color: var(--primary-color);
}

.name {
  font-size: 60px;
  font-family: var(--regular-font-family) !important;
}

.profile-picture {
  border-radius: 10px;
}

.fab,
.fas {
  font-size: 100px;
}

.icons {
  margin: 70px 0 50px -70px;
}

.about-content {
  line-height: 30px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
  .hero p {
    font-size: 22px;
  }

  h2 {
    font-size: 26px;
  }
  .project-link,
  .launch-link {
    font-size: 16px;
    padding: 10px 20px;
    line-height: 25px;
  }

  .heroine,
  .about-mobile-device {
    text-align: center;
  }

  .about-content {
    margin: auto 50px;
  }

  .profile-picture {
    margin-top: 60px;
  }

  .icons {
    display: block;
    margin: 20px auto;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .profile-picture {
    margin-top: 50px;
  }

  .heroine,
  .about-mobile-device {
    text-align: center;
  }
  .about-content {
    margin: auto 50px;
  }

  .icons {
    display: block;
    margin: 20px auto;
  }
}
